{{>partials/header}}
    <div class="row">
        <div class="col">
            <h1>FindItem</h1>
            <form action="/stocks/finditem" method="POST">
                <div class="input-group mb-3">

                    <div class="input-group-prepend">
                        <select class="custom-select" name="search">
                        <option value="barcode" selected="selected">Barcode</option>
                        <option value="prodname">ProdName</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="barcode" value='{{barcode}}'>
                </div>
                <button input="sbumit" class="btn btn-primary">find</button>
            </form>
            <h1>InsertStock</h1>
            <form name="inStock" action="/stocks/addstock" onsubmit="return checkStock()" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="barcode">BarCode</label>
                            <input type="text" class="form-control" id="barcode" name="barcode" value='{{item.barcode}}' readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="quantity">BarName</label>
                            <input type="text" class="form-control" id="quantity" name="barname" value='{{item.barname}}' readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="barcode">BarCategory</label>
                            <input type="text" class="form-control" id="barcode" name="category" value='{{item.category}}' readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="quantity">Qnt</label>
                            <input type="text" class="form-control" id="quantity" name="quantity" value={{item.quantity}}>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="purDate">Purchase Date</label>
                            <input type="date" class="form-control" id="purDate" name="purDate" value='{{currDate}}' >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="expDate">Experation Date</label>
                            <input type="date" class="form-control" id="expDate" name="expDate" value='{{nextMonth}}'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="purPrice">Purchased Price</label>
                            <input type="text" class="form-control" id="purPrice" name="purPrice" value='{{item.purPrice}}'>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="retPrice">Retale Price</label>
                            <input type="text" class="form-control" id="retPrice" name="retPrice" value='{{item.retPrice}}'>
                        </div>
                    </div>
                </div>
                <button type="sbumit" class="btn btn-primary">Insert</button>
            </form>
        </div>
        <div class="col">
            <h1>List</h1>
            <table class="table-sm" id="receipt">
                <thead>
                    <tr>
                        <th scope="col">img</th>
                        <th scope="col">prod-name</th>
                        <th scope="col">cat-qnt</th>
                        <th scope="col">pur/exp Date</th>
                        <th scope="col">pur/ret Price</th>
                        <th scope="col">add</th>
                    </tr>
                </thead>
                <tbody>
                    {{#itemList}}
                    <tr>
                        <td><img width="40px" src="/images/{{image}}"></td>
                        <td>{{barname}}</td>
                        <td>{{category}}</td>
                        <td><input type="date" value='{{purDate}}' readonly></td>
                        <td>{{purPrice}}</td>
                        <td><a href="/stocks/additem?bc={{barcode}}&cd={{creDate}}">add</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{barcode}}</td>
                        <td>{{quantity}}</td>
                        <td><input type="date" value='{{expDate}}' readonly></td>
                        <td>{{retPrice}}</td>
                    </tr>
                    {{/itemList}}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function checkStock(){
            var elem = document.forms["inStock"].elements

            for(var i=0;i<elem.length-1;i++){
                if(elem[i].value == ""){
                    return false;
                }
            }
            return true;
        }
    </script>
{{>partials/footer}}